project:
  type: website
  output-dir: docs

website:
  title: "Blog"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: x
        href: https://twitter.com
format:
  html:
    theme: minty
    css: styles.css



